<form [formGroup]="bettingForm" novalidate>
  <fieldset [attr.disabled]="disabled ? 'disabled' : null">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="betAmountLabel">Bet Amount</label>
        <input type="text"
               id="betAmountLabel"
               class="form-control form-control-lg"
               placeholder="0.0"
               formControlName="amount"
               [dropSpecialCharacters]="false"
               mask="0*.0"
               (keyup)="onInput($event)">
      </div>
      <div class="form-group col-md-6">
        <label for="numberLabel">Number</label>
        <input type="text"
               class="form-control form-control-lg"
               id="numberLabel"
               placeholder="0"
               formControlName="number"
               mask="00"
               (keyup)="onInput($event)">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <button type="button"
                class="btn btn-primary btn-lg btn-block"
                [attr.disabled]="disabledBetButtons ? 'disabled' : null"
                (click)="onBetHigh()">
          Bet High
        </button>
        <app-betting-chance-info [bettingChance]="betHighChance"></app-betting-chance-info>
      </div>
      <div class="form-group col-md-6">
        <button type="button"
                class="btn btn-primary btn-lg btn-block"
                [attr.disabled]="disabledBetButtons ? 'disabled' : null"
                (click)="onBetLow()">
          Bet Low
        </button>
        <app-betting-chance-info [bettingChance]="betLowChance"></app-betting-chance-info>
      </div>
    </div>
  </fieldset>
</form>
